body {
    color: #222;
    font: 20px "Roboto", sans-serif;
}

big-picture {

}

focuses, palette, legacies, periods, event, add, ban {
    display: block;
    border: 1px solid black;
    padding: 1.5rem;
}

add, ban {
    margin-left: 1rem;
}

scene {
    display: block;
}

scene h5 {
    border: 1px solid black;
    padding: 1rem;
}

scene section {
    border: 1px solid black;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

scene h5:hover + section {
    height: 50px;
    padding: 1rem;
}

li {
    margin: 0.5rem 4rem;
    list-style-type: square;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0 0 1rem 0;
}

.dark:before, .light:before {
    font-size:2rem;
}

.dark:before {
    content:"\25cf";
}

.light:before {
    content: "\25cb";
}