body {
    background-color: #fff;
    color: #222;
    font: 25px "Roboto", sans-serif;
}

big-picture, focuses, palette, legacies, periods, period, events, event, scenes, scene {
    display: block;
}

period, events, scene {
    margin-left: 0;
}

events, scenes {
    background-color: initial;
    /* border: 1px solid black; */
    padding: 0 1rem;
}

big-picture {
    letter-spacing: 0.05rem;
    color: #eee;
    text-align: right;
}

focuses, palette, legacies, periods {
    background-color: #eee;
    padding: 1.5rem;
    margin: 1rem 0;
}

add, ban {
    margin-left: 1rem;
}

event {
    border: 1px solid #222;
    margin: 1rem 0;
    padding: 1rem;
}

scene hgroup {
    /* border: 1px solid black; */
    display: flex;
    padding: 0.5rem;
}

scene p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-left: 2rem;
}

scene hgroup icon {
    flex: 1 1 5%;
    text-align: center;
}

scene hgroup h5 {
    align-self: center;
    flex: 1 1 90%;
    margin: 0;
}

scene section {
    /* border: 1px solid black; */
    border-top: 0;
    /* height: 0; */
    margin-top: 2rem;
    overflow: hidden;
    padding: 0 1rem 0 4rem;
    transition: all 0.5s ease-in-out;
}

scene hgroup:hover + section {
    /*height: 50px;*/
    /*padding: 1rem;*/
}

li {
    margin: 0.5rem 1rem;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0 0 1rem 0;
}

icon {
    position:relative;
    top: 0.1rem;
}

scene icon {
    top: 0;
}

.dark:before, .light:before {
    font-size:2rem;
}

.dark:before {
    content:"\25cf";
}

.light:before {
    content: "\25cb";
}