<big-picture>
    <h1>{{bigPicture}}</h1>
</big-picture>

<focuses>
    <h2>Focuses</h2>
    {{#each focuses}}
    <li>{{this.focus}}, {{this.player}}</li>
    {{/each}}
</focuses>

<palette>
    <h2>Palette</h2>
    <add>
        <h3>Adds</h3>
        {{#each palette.adds}}
        <li>{{this}}</li>
        {{/each}}
    </add>
    <ban>
        <h3>Bans</h3>
        {{#each palette.bans}}
        <li>{{this}}</li>
        {{/each}}
    </ban>
</palette>

<legacies>
    <h2>Legacies</h2>
    {{#each legacies}}
    <li>{{this.legacy}}, {{this.player}}</li>
    {{/each}}
</legacies>

<periods>

    <h2>Periods</h2>
    {{#each periods}}
    <period>
        <h3>{{this.period}} <icon class="{{this.tone}}"></icon></h3>


        {{#each this.events}}
        <event>
            <h4>{{this.event}} <icon class="{{this.tone}}"></icon></h4>


            {{#each this.scenes}}
            <scene>
                <h5><icon class="{{this.tone}}"></icon> {{this.question}} {{this.answer}}</h5>

                <section>
                    <h6>Setting</h6>

                    <p>{{this.setting}}</p>

                    <h6>Notes</h6>

                    <p>{{this.notes}}</p>

                    <h6>Characters</h6>
                    {{#each this.characters}}
                    <li>{{this.character}}, <em>{{this.thoughts}}</em></li>
                    {{/each}}

                    <h6>Plot</h6>

                    <p>{{this.plot}}</p>
                </section>
                {{/each}}
            </scene>
        </event>
        {{/each}}

    </period>
    {{/each}}

</periods>
