<big-picture>
    <h1>{{bigPicture}}</h1>
</big-picture>

<focuses>
    {{#each focuses}}
    <focus>{{this.focus}}, {{this.player}}</focus>
    {{/each}}
</focuses>

<palette>
    <add>
        <li>q continuum types (demi gods)</li>
        <li>"pre warp" humans</li>
        <li>"babelfish"</li>
    </add>
    <ban>
        <li>infinite power, in a single being</li>
        <li>time travel</li>
    </ban>
</palette>

<legacies>
    <li>TRAITORS ARE ALWAYS, WITHOUT FAIL, NO EXCEPTIONS PUNISHED BY DEMI GODS, Anastasia</li>
</legacies>

<period class="bookend">
    <h1>The empire fights a war that sows the first seeds of dissent</h1>
    <tone>dark</tone>
    <event>
        <scene>

        </scene>
    </event>
</period>

<period class="bookend">
    <h1>A golden age of cross-galactic exploration</h1>
    <tone>light</tone>
    <event>
        <scene>

        </scene>
    </event>
</period>

<legacies>

</legacies>